/**** Typograghy ****/
h1, h2, h3, h4, h5, h6 {color: #009ee3; font-weight: normal; line-height: 1.1; font-family: 'prometoregular',Open Sans;}
h1, .h1, h2, .h2, h3, .h3 {margin-top: 0px;}
li {font-weight: normal; line-height: 1.5; font-family: Open Sans; margin: 0;}
p {margin: 10px 0; font-size: 16px; font-weight: 300;}

/***** List-style *****/
ul {padding: 0;}
ul li {list-style-type: square; margin: 0 0 0 15px; padding: 10px 0;}

/***** section clss  ***/
.section-wrap {padding: 80px 0 70px 0;}

/***** Sticky header section ****/
.sticky-header {-webkit-transition: background-color 0.3s; transition: background-color 0.3s; -webkit-backface-visibility: hidden; }
.logo img {max-height: 38px;max-width: 150px;}
.navbar-default {background: none; border: 0; min-height: 0; margin-bottom: 0; border-radius: 0; float: right;}
.navbar-nav > li > a {padding: 10px 15px; color: #fff;}

/*** background  ****/
.bg-darkblue {background: #00344d; color: #ffffff;}
.bg-darkorange, .bg-darkorange:hover, .bg-darkorange:focus {background: #f07d00; color: #ffffff;}
.bg-darkgrey {background: #4d4d4d; color: #ffffff;}
.bg-darkgrey h1, .bg-darkgrey h2, .bg-darkgrey h3, .bg-darkgrey h4, .bg-darkgrey h5, .bg-darkgrey h6, .bg-darkgrey p {color: #ffffff;}
.text-white, .text-white:hover, .text-white:focus {color: #ffffff;}
/***** Top banner *****/
.top-banner {padding-top: 140px; padding-bottom: 100px; background-size: cover;background-position: center center; position: relative;}
.background-top-center {background-position: top center;}
.top-banner-content {color: #fff !important; z-index: 2; position: relative;    text-align: left;    margin-top: 50px;}

.top-banner-content h1, .top-banner-content h2, .top-banner-content h3, .top-banner-content h4, .top-banner-content h5 {color: #fff;}
.top-banner-content h3, .top-banner-content h4, .top-banner-content h5 {font-weight: 300;}
.top-banner-overlay {position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1;background-color: #00344d;opacity: 0.7;background: -webkit-linear-gradient(-45deg,rgba(0,158,227,1) 0,rgba(41,137,216,1) 43%,rgba(41,137,216,1) 56%,rgba(112,32,130,1) 100%);background: linear-gradient(135deg,#009ee3 0,#2989d8 43%,#2989d8 56%,#702082 100%);}
.top-register-banner{ background-color: #009ee3; height: 180px;}

/***** Team *****/
.team-member img {max-width: 200px;}
.team-member p {font-size: 16px;}

/**** border style   ****/
.border-radius {border-radius: 100%;}
.border-width {border-width: 2px;}
.border-box {border: 1px solid #e6e6e6;}

/*** Register form ***/

#register .gender input{width:auto; box-shadow:none;}
.register-hader {color: #fff !important; z-index: 2; position: relative;    text-align: center;    margin-top: 50px;}
#register #signup-form, #login #signup-form{width: 510px; margin:0 0 0 30px; margin-top: 50px; margin-bottom: 50px; background: #fff; padding: 40px; border: 10px solid #f2f2f2;}
#register h1 { margin: 0 0 30px; font-size: 24px; line-height: 34px; }
#register  #signup-form #header , #login  #signup-form #header { margin: 0 0 30px 0; border-bottom: 1px solid #efefef; }
#register form label, #login form label { display: block; margin-bottom: 5px; font-weight: bold; font-size: 12px; }
#register input, textarea, #login input, textarea {     width: 100%; background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #C9C9C9; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; color: #545658; padding: 8px; font-size: 14px; border-radius: 2px 2px 2px 2px; }
.login{padding-top:40px;padding-bottom:40px;}

/*** profile page  ***/
.consulting-page-header {
    position: relative;
    background: url('images/header1.jpg') no-repeat center center;
    padding: 60px 0;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.consulting-page-header .page-title {
    font-size: 30px;
    
}

/*** job listing ****/
.job-listing{    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-left: -3% !important;}

/***** Footer *****/
footer ul li {list-style: none; padding: 5px 0; font-size: 16px; margin: 0;}
footer a, footer a:hover, footer a:focus {color: #fff; text-decoration: none; -webkit-transition: .15s all ease; transition: .15s all ease;}
footer h4 {color: #fff;}