*{
	margin:0px;
	padding:0px;
}
body{
	background-image:url(images/background.jpg);
	background-size:cover;
	background-attachment:fixed;
	font-family:new time roman;
}
h1{
	font-size:40px;
	color:#fff;
	margin-top:250px;
	
}
.text-left{
	
}
/*resetting element*/
*{
	margin:0;
	padding:0;
}

/*hiding label and checkbox*/
input[type=checkbox],
.show-menu{
	display:none;
}

/*giving background image*/
body{
	background:url("images/background2.jpg");
}

/*styling our wrapper*/
.wrapper{
	max-width:960px;
	margin:0 auto;
	color:#FFEC94;
	font-family:helvetica;
}

/*styling h1 in wrapper*/
.wrapper h1{
	padding:20px;
	text-align:center;
}

/*styling navigation*/
.navigation{
	display:flex;
	list-style-type:none;
}

/*styling list items->li in navigation*/
.navigation li{
	background:#1a1a1a;
	flex:1;
	text-align:center;
	transition:all .2s ease;
}

/*giving border left to all list items, but not to our first list item*/
.navigation li:not(:first-child){
	border-left:2px solid #ecf0f1;
}

/*styling hover*/
.navigation li:hover{
	background:#333333;
	flex:1.1;
}

/*styling our anchor tag*/
.navigation li a{
	display:block;
	padding:20px 0;
	color:inherit;
	text-decoration:none;
}

/*giving style for mobile*/

@media screen and (max-width:600px){
	/*styling our show menu button*/
	.show-menu{
		background:#342a2a;
		display:flex;
		cursor:pointer;
		padding:20px 0;
		justify-content:center;
	}
	/*hiding our navigation*/
	.navigation{
		display:none;
	}
	
	/*displaying our list items as block element; if checkbox is check*/
	input[type=checkbox]:checked ~ .navigation{
		display:block;
	}
	
	/*removing border left from the pseudo class*/
	.navigation li:not(:first-child){
		border:0;
	}
	/*giving margin to list item, excluding last list item*/
	.navigation li:not(:last-child){
		margin:2px 0;
	}
}
